{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block header %}
    {{ parent() }}
    <section class="bg-black h-100 p-5">
        <div class="text-white text-center h-100">
            <h1 class="display-3 font-weight-bold m-0">SensioTV+</h1>
        </div>
    </section>
{% endblock %}

{% block body %}
    <section>
        <h2 class="text-center">Latest movies:</h2>
       
    </section>
{% endblock %}